.dropdowncaret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  content: "";
  border-top-style: solid;
  border-top-width: 4px;
  border-right: 4px solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 4px solid transparent;
}
.button {
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: 0.25em;
  -webkit-appearance: none;
  color: #24292e;
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
}
.button i {
  font-style: normal;
  font-weight: 500;
  opacity: 0.75;
}
.button.open {
  background-color: #e9ecef;
  background-image: none;
  border-color: rgba(27, 31, 35, 0.35);
  box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15);
}
.backdrop {
  display: none;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.show {
  display: block;
}
.wrapper {
  position: relative;
  display: inline-block;
}
.optionswrapper {
  position: absolute;
  z-index: 100;
  right: 0;
  width: 300px;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  margin-top: 4px;
  animation: translatedown 0.12s cubic-bezier(0, 0.1, 0.1, 1) backwards;
}
.optionsheader {
  background-color: #f6f8fa;
  border-bottom: 1px solid #d1d5da;
  padding: 8px 16px;
  font-weight: 600;
  font-size: 12px;
}
.optionslist {
}
.option {
  cursor: pointer;
  background: white;
  border-bottom: 1px solid #d1d5da;
  padding: 8px 16px;
  font-size: 12px;
  display: flex;
}
.tick {
  fill: white;
  margin-right: 5px;
}
.option.selected .tick {
  fill: black;
}
.option:last-child {
  border-bottom: none;
}
.option:hover {
  color: #fff;
  background-color: #0366d6;
}
.option:hover .tick {
  fill: #0366d6;
}
.option.selected:hover .tick {
  fill: white;
}
@keyframes translatedown {
  0% {
    opacity: 0;
    transform: translateY(-16px);
  }
}
